## Byte-compiled / optimized / DLL files
#__pycache__/ 
#*.py[cod]
#*$py.class
.DS_store


# Distribution / packaging
.Python
professor/



## PyBuilder
#.pybuilder/ target/

## Jupyter Notebook
.ipynb_checkpoints/
A_DecisionTree/
.ipynb_checkpoints/

## IPython
#profile_default/
#ipython_config.py
